
<div>
  <% if match.completed %>
    <span class="completed_at"><%= match.completed_at.strftime "%b %e" %><br /><%= match.completed_at.strftime "%l:%M" %></span>
  <% end %>
</div>

<table class="scores_table">
    <tr>
      <td></td>
      <td><%= render "team_names", :team => match.teams.first %></td>
      <td><%= render "team_names", :team => match.teams.last %></td>
    </tr>
  <% match.games.each_with_index do |game, index| %>
    <tr>
      <td>Game <%= index + 1 %></td>
      <td><%= game.team_1_score %></td>
      <td><%= game.team_2_score %></td>
    </tr>
  <% end %>
</table>

<div>
  <% if match.completed %>
    <p>winner: <%= render "team_names", :team => Team.find(match.winner) %></p>
  <% end %>
</div>
