<ul>
  <% @matches.reverse.each do |match| %>
    <li>
    <div class="match">
      <span class="completed_at"><%= match.completed_at %></span>
      <%= render "single_match", :match => match %>
      <%= link_to "Show match", match_path(match), {:class => 'button_link'} %>
      <%= link_to "Delete match", match_path(match), {:class => 'button_link', :method => :delete} %>
    </div>
    </li>
  <% end %>
</ul>

<%= link_to "Create match", new_match_path, { :class => 'button_link' } %>
