<span><%= render "team_names", :team => @in_progress.teams.first %></span>
<span> vs. </span>
<span><%= render "team_names", :team => @in_progress.teams.last %></span>

<table>
  <% @in_progress.games.each_with_index do |game, index| %>
    <tr>
      <td>Game <%= index + 1 %></td>
      <td><%= game.team_1_score %></td>
      <td><%= game.team_2_score %></td>
    </tr>
  <% end %>
</table>


<p>winner: <%= @winner %></p>
